optimade-client[server]==2020.10.14
# voila-materialscloud-template~=0.2.5
-e git+https://github.com/materialscloud-org/voila-materialscloud-template.git@fix_20_spinner-broken-in-binder#egg=voila-materialscloud-template
